@import "../theme";

.comment {
  &.titlecontainer {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 20px;
  }
  &.introductioncontainer {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 20px;
  }
  &.introductionform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 80em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.introduction {
    height: 100px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    color: black;
  }
  &.commentcontainer {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 30px;
  }
    &.commentform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 80em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.input {
    text-align: left;
    vertical-align:top;
    height: 110px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    color: $textColor;
  }
  &.displaycontainer {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 30px;
  }
    &.displayform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 80em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.display {
    height: 200px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    color: black;
  }
  &.output {
    text-align: left;
    vertical-align:top;
    height: 110px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    color: $textColor;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.label {
    margin-top: 10px;
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
  }
  &.titlelabel {
    margin-top: 10px;
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: left;
  }
  &.button-containerin {
    display: flex;
    justify-content: center;
    margin-bottom:10px;
  }
  &.button-containerout {
    display: flex;
    justify-content: center;
    margin-top:15px;
  }
}