@import "../theme";

.createItem {
  &.titlecontainer {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 20px;
  }
  &.container {
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 20px;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 80em;
    height: 40em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.topic {
    height: 35px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    color: $textColor;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    color: $textColor;
  }
  &.inputintroduction {
    text-align: left;
    vertical-align:top;
    height: 200px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    color: $textColor;
    resize: none;
  }
  &.outputintroduction {
    text-align: left;
    vertical-align:top;
    height: 100px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    color: $textColor;
    resize: none;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight:bold;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}