@import "../theme";

.header {
  &.container {
    background-color:#262632;
    height:100px;
    width:100%;
    top:0px;
    padding:0px;
    position:relative;
  }

  &.title {
    &:hover {
      transform: translateY(-2px);
    }
    color: white;
    position: absolute;
    font-weight:normal;
    height:100px;
    font-size:50px;
    &.rankeverything {
      font-family:'Times New Roman', Times, serif;
      font-size:3.5em;
      top:-20%;
      left:2%;
      width:33%;
    }
  }
}