@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
  &.container {
    // margin-top: 2em;
    // min-height: 300px;
    // /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    // @include center;
    display: flex;
    justify-content: space-between;
    padding: 150px;
  }
  &.box {
    // position: absolute;
    // width: 400px;
    // height: 600px;
    // top: 415px;
    // left: 1360px;
    flex: 1;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    margin: 0 50px;
    flex-basis: calc(50% - 20px); 
    max-width: calc(50% - 20px); 
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  &.text-wrapper {
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #000000;
    font-family: "Jost", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #000000;
    font-size: 4vw;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 50px;
  }
  
  &.create-box {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    margin: 0 700px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -120px; 
  }

  &.create-text-wrapper {
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #000000;
    font-family: "Jost", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #000000;
    font-size: 4vw;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 1px;
  }

  &.mensa-image {
    @import url('https://unpkg.com/css.gg@2.0.0/icons/css/bowl.css');
    background-position: center top; 
    background-size: contain; 
    background-repeat: no-repeat; 
    padding-top: 50px; 
}
}
