@import "../theme";

.profile {
  &.container {
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 15px;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 80em;
    height: 57em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
    position: relative;
  }
  &.follows-container {
    display: flex;
    max-height: 70px;
    &.list {
      height: 50px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      &.title {
        text-align: center;
        margin-top: 10px;
      }
    }
    &.list + &.list {
      margin-left: 40px;
    }
  }
  &.field1 {
    position:relative;
    margin-top:50px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    border: 1px solid black;
    border-radius: 0.75em;
    box-shadow: $dropShadow;
    // overflow: hidden;
  }
    &.field2 {
    position:relative;
    margin-top:10px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    border: 1px solid black;
    border-radius: 0.75em;
    box-shadow: $dropShadow;
    // overflow: hidden;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    color: $textColor;
  }
  &.inputintroduction {
    text-align: left;
    vertical-align:top;
    height: 200px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight:bold;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
  &.avatar-container {
    position: absolute;
    top: 2px;
    right: 80px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  &.avatar {
    border-radius: 50%; 
    width: 100px; 
    height: 100px;
  }
  &.followList {
    text-align: left;
    vertical-align:top;
    // height: fit-content;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    color: $textColor;
    border-radius: 0.75em;
    cursor: default;
  }
  &.followButton {
    position: absolute;
    top: calc(100% + 10px); /* 位于 avatar 的正下方，加上一些间距 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
  }
  &.followItem {
    cursor: pointer;
  }
  &.followItem:hover{
    background-color: lightblue;
  }
  &.commentList {
    text-align: left;
    vertical-align:top;
    // height: fit-content;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    color: $textColor;
    border-radius: 0.75em;
    cursor: default;
  }
  &.bannedList {
    text-align: left;
    vertical-align:top;
    // height: fit-content;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    color: $textColor;
    border-radius: 0.75em;
    cursor: pointer;
  }
  &.bannedList:hover{
    background-color: lightblue;
  }
  &.editinput{
    position:relative;
    width: 200px;
    border: auto;
    border-radius: 0.75em;
    color: black;
    resize: none;
  }
  &.singlecommentcontainer{
    display:flex;
    flex-direction: column;
    // margin-top: 20px;
  }
  &.commentownerInformationcontainer{
    display:flex;
    flex-direction: row;
    // margin-top: 20px;
  }
  &.commentowneravatar{
    position: relative;
    // top: 10px;
    // left: 10px;
    // margin-top: 10px;
    // margin-right: 10px;
    cursor: pointer;
  }
  // &.avatar {
  //   border-radius: 50%; 
  //   width: 30px; 
  //   height: 30px;
  // }
  &.commentcontainer{
    position:relative;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    // margin-top: 20px;
  }
  &.replyandthumbupscontainer{
    display:flex;
    flex-direction: row;
    // margin-top: 20px;
  }
  &.thumbups {
    display: flex;
    flex-direction: row;
  }
  &.thumbupsButton {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    // cursor: pointer;
    // &:hover {
    //   transform: translateY(-2px);
    // }
  }
  &.thumbupsNumber {
    margin-left: 5px;
    margin-top: 1em;
    @include center;
  }
  &.translateButton {
    cursor: pointer;
  }
  &.bottom-line {
    // margin-left: 80px;
    border-bottom: 1px solid black;
    margin-top: 5px;
  }
  
.playerprofile {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
    cursor: pointer;
    // flex-grow: 1;
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
  }
  &.username {
    font-weight: 500;
    color: $accent;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    // font-family: $fontMono;
    font-weight: 300;
  }
  &.creationDate {
    margin-left: auto;
    margin-right: 10px;
    // font-family: $fontMono;
    font-weight: 300;
  }
}
&.title {
  /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
  margin-left: 10px;
}
&.bigtitle {
  /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
  margin-bottom: -30px;
  @include center;
}
}