@import "../theme";

.profile {
  &.container {
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 100px;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 80em;
    height: 35em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: auto;
    // align-items: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    color: $textColor;
  }
  &.inputintroduction {
    text-align: left;
    vertical-align:top;
    height: 200px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight:bold;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
  &.avatar-container {
    margin-right: 10px;
    // outline: auto;
  }
  &.avatar {
    border-radius: 50%; 
    width: 50px; 
    height: 50px;
  }

.playerprofile {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
    cursor: pointer;
    // flex-grow: 1;
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
  }
  &.username {
    font-weight: 500;
    color: $accent;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    // font-family: $fontMono;
    font-weight: 300;
  }
  &.creationDate {
    margin-left: auto;
    margin-right: 10px;
    // font-family: $fontMono;
    font-weight: 300;
  }
}
.textbox-container {
  display: flex;
  align-items: center;
}
  
.textbox {
  width: 200px; /* 设置文本框的宽度 */
  height: 40px; /* 设置文本框的高度 */
  border: 1px solid #ccc; /* 设置文本框的边框样式 */
  border-radius: 5px; /* 设置文本框的边框圆角 */
  background-color: white; /* 设置文本框的背景颜色 */
  margin-right: 10px; /* 设置文本框之间的间距 */
}
}