@import "../theme";

.search {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }
  &.title {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 20px;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 50px;
    padding-left: 15px;
    margin-left: -4px;
    border: auto;
    border-radius: 0.75em;
    margin-bottom: 20px;
    // background: transparentize(white, 0.85);
    color: $textColor;
    width: 500px;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
  }
  &.button {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    cursor: pointer;
  }
  &.hotTopicContainer {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    position: absolute;
    top: 300px;
    right: 0;
    width: 500px;
    padding: 10px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin-top: 30px;
  }
    &.hotTopicForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 80em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.displaycontainer {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 30px;
  }
  &.displayform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 80em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.resultListTitle {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    // @include center;
    flex-direction: column;
    margin-top: 20px;
  }
}