@import "../theme";

.search {
  &.container {
    // min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  &.title {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 120px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
  }
  &.title2 {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 120px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
  }
  &.title3 {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    // margin-top: 120px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &.select-wrapper {
    // flex: 1;
    // margin-right: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  &.input {
    flex: 1;
    height: 50px;
    // left: 100px;
    padding-left: 80px;
    margin-left: -4px;
    border: auto;
    border-radius: 0.75em;
    margin-bottom: 20px;
    // background: transparentize(white, 0.85);
    color: $textColor;
    width: 800px;
  }
  &.select {
    position: absolute;
    // left: 0;
    height: 75%;
    left: 10px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
  }
  
  &.button {
    display: flex;
    @include center;
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  &.hotTopicContainer {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    position: absolute;
    top: 200px;
    right: 0;
    width: 500px;
    padding: 10px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin-top: 30px;
  }
    &.hotTopicForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 80em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.displaycontainer {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    margin-top: 30px;
  }
  &.displayform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 80em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.resultListTitle {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    // @include center;
    flex-direction: column;
    margin-top: 20px;
  }
  li:hover {
    background-color: lightblue;
    cursor: pointer;
  }
}